@{
    ViewBag.Title = "Page not found";
}
<div class="error-img">
    <div class="error-info">
        <h1>Error Code: 404</h1>
        <h2>Page Not Found</h2>
        <p>This error occurs when the server can't find the page you requested. Please check the URL for any mistakes or use the navigation menu to find what you're looking for.</p>
    </div>
    <img src="../img/error.png" alt="Error Image">
</div>