@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="main-title">ЯШарю</h1>
    <p class="main-description">Навчайся та зростай разом за ним</p>
    <button class="main-button">Розпочати безкоштовно!</button>
    <p class="contact">Виникли проблеми? <a class="url-contact">Звяжіться з нами &#8594;</a></p>

    <button class="btn-ballon"><img class="balloon" src="./img/balloon1.png"></button>
</div>