@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .body-img {
        background-image: none;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>