<a class="btn btn-danger" style="display: none; margin-top: 5em;" href="@Url.Action("Create", "Course")" >Create course</a> <!-- Тут прописан стиль який прибирає кнопку☺ -->

<div class="card-group">
    <div class="col-md-4">
        <div class="card">
            <img src="/img/course.png" class="card-img-top blurry-image" alt="card-img">
            <div class="card-body">
                <h5 class="course-tale"><img src="img/play.png" class="play-img" alt="play-img">25x Lessons</h5>
                <p class="course-name">Course name</p>
                <div class="line"></div>
                <p class="course-creator"><img src="img/user.png" class="user-img" alt="user-img">Creator name</p>
            </div>
        </div>
    </div>
</div>
