@model User
@{
    ViewData["Title"] = "Sign Up";
}

<div class="container">
    <div class="auth-img">
        <img src="~/img/auth-background-image.png" alt="Auth Image">
    </div>

    <form class="auth-form">
        <h2 class="title">Create an account</h2>

        <div class="input-form">
            <label for="emailForm" class="input-title">Email</label>
            <input class="input-field" type="email" asp-for="Email" id="emailForm" placeholder="Enter your email address">

            <label for="usernameForm" class="input-title">Username</label>
            <input class="input-field" type="text" asp-for="Username" id="usernameForm" placeholder="Enter your username">

            <label for="phoneNumberForm" class="input-title">Phone Number</label>
            <input class="input-field" type="tel" asp-for="PhoneNumber" id="phoneNumberForm" placeholder="Enter your phone number">

            <label for="passwordForm" class="input-title">Password</label>
            <input class="input-field" type="password" asp-for="Password" id="passwordForm" placeholder="Enter your password">

            <label for="confirmPasswordForm" class="input-title">Confirm Password</label>
            <input class="input-field" type="password" id="confirmPasswordForm" placeholder="Confirm your password">
            
            <label for="dobForm" class="input-title">Date of Birth</label>
            <input class="input-field" type="date" id="dateOfBirthForm" placeholder="Enter your date of birth">
        </div>
        
        <div class="terms">
            <input type="checkbox" id="termsCheckbox" class="terms-checkbox">
            <label for="termsCheckbox"> I agree with the 
                <a href="/about/terms" target="_blank">Terms of Service</a> 
                and 
                <a href="/about/privacy" target="_blank">Privacy Policy</a>
             </label>
        </div>

        <div class="mt-3">
            <button type="submit" id="registerBtn" class="submit-btn">Register</button>
        </div>
        
            <a class="registration-link" asp-action="signin" asp-controller="account">Already have an account</a>
    </form>
</div>