@{
    ViewData["Title"] = "Current Course";
}
<div class="background">
    <img src="~/img/currentcourse-background.png" alt="Шпалера">
</div>

<div class="rectangle">
    <h1>Cool course name</h1>
    <p>cool course description few words idk aboba hahaha</p>
    <button class="btn-get-started">Get Started</button>
    <div class="avatars">
        <img src="~/img/users.png" alt="Avatar 1">
        <img src="~/img/users.png" alt="Avatar 2">
        <img src="~/img/users.png" alt="Avatar 3">
    </div>
    <p class="join-text">Join over <span style="color: #FF1010;">1000+</span> students</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ChF4V_nUkUg?si=HbILenyfRIQ_6Mls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
