@{
    ViewData["Title"] = "Lessons";
}

<div class="intro-text">
    <h1>Course name</h1>
</div>

<div class="progress-bar">
    <div class="progress"></div>
</div>

<p id="progress-text" style="margin-left: 50%;">Завершено: <span id="progress-value">60%</span></p> @*-розділив для с# або для js щоб прогрес норм був*@

<div class="lessons-container">
    <div class="lesson">
        <img src="/img/lessonslogo.png" alt="Logo 1">
        <div>
            <h2>Lesson 1</h2>
            <p>Description of Lesson 1</p>
        </div>
        <button class="btn-lessons">
            <span class="lesson-info">6 videos</span>
            <span class="divider"></span>
            <span class="lesson-info">4.5 hours</span>
        </button>

    </div>
    <hr>
    <div class="lesson">
        <img src="/img/lessonslogo.png" alt="Logo 2">
        <div>
            <h2>Lesson 2</h2>
            <p>Description of Lesson 2</p>
        </div>
        <button class="btn-lessons">
            <span class="lesson-info">6 videos</span>
            <span class="divider"></span>
            <span class="lesson-info">4.5 hours</span>
        </button>

    </div>
    <hr>
    <div class="lesson">
        <img src="/img/lessonslogo.png" alt="Logo 3">
        <div>
            <h2>Lesson 3</h2>
            <p>Description of Lesson 3</p>
        </div>
        <button class="btn-lessons">
            <span class="lesson-info">6 videos</span>
            <span class="divider"></span>
            <span class="lesson-info">4.5 hours</span>
        </button>

    </div>
    <hr>
    <div class="lesson">
        <img src="/img/lessonslogo.png" alt="Logo 4">
        <div>
            <h2>Lesson 4</h2>
            <p>Description of Lesson 4</p>
        </div>
        <button class="btn-lessons">
            <span class="lesson-info">6 videos</span>
            <span class="divider"></span>
            <span class="lesson-info">4.5 hours</span>
        </button>

    </div>
</div>
