.dashboard {
    background-color: #ffffff;
    height: calc(90vh - 2 * 1vh);
    border-radius: 5px;
}

.main-text {
    font-size: 18px;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-left: 20px;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.info-box {
    width: 17em; 
    height: 6em;
    border-radius: 5px;
    padding: 10px;
    position: relative; 
    overflow: hidden; 
    background: linear-gradient(45deg, #FDC3B4, #A17171);
}

.info-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
}

.info-box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%; 
    background: rgba(253, 195, 180, 0.23);
    transform: rotate(45deg); 
}

.info-box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background: rgba(170, 47, 47, 0.1); 
    transform: rotate(45deg); 
}

.info-box h2 {
    color: #ffffff; 
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
}

.boxes-row {
    display: flex;
    justify-content: space-around;
}

.creator-box, .course-box {
    width: calc(50% - 5px);
    height: calc(50vh - 2 * 1vh);
    border-radius: 10px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background: #fafafa;
}

.creator-box h2, .course-box h2 {
    padding-top: 1em;
    font-size: 20px;
    margin-bottom: 15px;
    color: #000000;
    text-align: center;
}

.creator-box p, .course-box p {
    font-size: 18px;
    margin-bottom: 10px;
}

.show-all-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-top: 12vh;
    padding: 10px 20px;
    background-color: #E99090;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.show-all-items:hover {
    background-color: #da5a5a;
}

