.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4em);
    margin: 0;
    padding: 0;
}

/* For mobile devices */
@media (max-width: 600px) {
    .title {
        font-size: 18px;
    }

    .submit-btn {
        padding: 2% 50%;
    }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .submit-btn {
        padding: 2% 55%;
    }
}

/* For small laptops */
@media (min-width: 769px) and (max-width: 992px) {
    .title {
        font-size: 30px;
    }

    .submit-btn {
        padding: 2% 60%;
    }
}

/* For laptops and desktops */
@media (min-width: 993px) {
    .title {
        font-size: 25px;
    }

    .submit-btn {
        padding: 2% 70%;
    }
}

.auth-img {
    flex: 0.5;
    border-bottom: none;
    border-right: 9px solid #FF432A;
    height: 100%;
}

.auth-img img {
    height: 100%;
    width: auto;
}

.auth-form {
    height: auto;
    padding-left: 2em;
    width: auto;
    flex: 1 0 0;
    margin-left: 5vw;
    margin-top: 5vh;
}

.auth-form .title {
    font-size: 25px;
}

.registration-message,
.registration-link,
.input-title {
    font-size: 12px;
    width: 70%;
}

.registration-link {
    color: red;
    cursor: pointer;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-title {
    margin: 0;
}

.input-form input {
    padding-right: 10px;
    border: none;
    border-bottom: 2px solid #FF432A;
    background: none;
    outline: none;
}

.checkbox-text {
    font-size: 12px;
    margin-left: 5px;
}

.submit-btn {
    padding: 2% 60%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #FF432A;
    color: white;
    border-radius: 20px;
    border: none;
    transition: opacity 0.15s;
}

.submit-btn:hover {
    opacity: 0.8;
}

.submit-btn:active {
    opacity: 0.5;
}

.auth-img-right img {
    padding-left: 7em;
    width: auto;
    height: 100%;
}