body {
    background-color: #ffffff;
    color: #000000; 
    font-family: 'Whitney', sans-serif;
}

h2 {
    font-size: 2em;
    color: #da7272; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 3em;
}

.form-group {
    margin-bottom: 1em;
    width: 50%; 
    margin: auto; 
}

.form-group label {
    color: #8e9297;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.form-group input, .form-group select, .form-group textarea {
    background-color: #f0f0f0; 
    border: none;
    color: #6e6262; 
    padding: 0.5em;
    width: 100%; 
}

.form-group input::placeholder, .form-group select::placeholder, .form-group textarea::placeholder {
    color: #978e8e;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #FF6347;
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 99, 71, 0.5);
}
