body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Whitney', sans-serif;
}

h2 {
    font-size: 2em;
    color: #da7272;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 3em;
}

.form-group {
    margin-bottom: 1em;
    width: 50%;
    margin: auto;
}

.form-group label {
    color: #8e9297;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.form-group input, .form-group select, .form-group textarea {
    background-color: #f0f0f0;
    border: none;
    color: #6e6262;
    padding: 0.5em;
    width: 100%;
}

.form-group input::placeholder, .form-group select::placeholder, .form-group textarea::placeholder {
    color: #978e8e;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #FF6347;
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 99, 71, 0.5);
}

.card {
    width: 330px;
    height: 415px;
    margin-top: 88px;
    border-radius: 30px;
    font-family: Inter,sans-serif;
    border: 2px solid #DADAF7;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 180px;
    margin: auto;
    border-radius: 30px 30px 0 0 ;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.play-img {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.course-tale {
    font-size: 16px;
    padding: 15px 0;
}

.course-name {
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.line {
    width: 100%;
    border-top: 1px solid #DADAF7;
}

.user-img {
    width: 18px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.course-creator {
    display: inline-block;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.lesson-link {
    color: #333;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    width: auto;
    height: 50px;
}

.course-content-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #464646;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.nav-box {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    height: 100vh;
    margin-right: 0;
}

.content-box {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 64%;
    height: 100vh;
    margin-left: 0;
}

.lesson-content {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}

.tab-content {
    height: 100vh;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-group {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.btn-shariu {
    background-color: #FF6347;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}