@media (max-width: 768px) {
    .body-img {
        background-position: center;
    }
}

body {
    font-family: Inter, Arial;
    margin: 0;
    padding: 0;
}

.body-img {
    background-image: url(../img/home-background-image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}