@media (max-width: 768px) {
    .body-img {
        background-position: center;
    }
}

body {
    font-family: Inter, Arial, sans-serif;
    padding-top: 65px;
}

.body-img {
    background-image: url(../img/home-background-image.png);
    background-position: left 50% bottom 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}