body {
    font-family: Inter, Arial, sans-serif;
    
}

.header {
    height: 4em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgb(228, 228, 228);

    z-index: 100;
}

.left-section {
    display: flex;
    flex: 1;
    align-items: center;
}

.iShariu-logo {
    height: 52px;
    margin-left: 150px;
    cursor: pointer;
}

.project-name {
    height: 0;
    font-weight: bold;
    color: #ac2020;
    font-size: large;
    align-items: center;
    cursor: pointer;
}

.middle-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item {
    height: 0;
    cursor: pointer;
    margin-right: 30px;
}

.nav-item:hover {
    color: #FC4928FF !important;
}

a.nav-item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit !important;
    margin-bottom: 16px;
}

.right-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
}

.btn-sign-in {
    justify-content: end;
    background: none;
    border: none;
    width: 80px;
    height: 36px;
    margin-right: 10px;
}

.btn-sign-up {
    border-radius: 25px;
    background-color: #FC4928;
    color: white;
    border: none;
    width: 90px;
    height: 36px;
    margin-right: 100px;
    justify-content: end;
    transition: opacity 0.15s;
}

.btn-logout {
    border: none;
    background-color: #FC4928;
    border-radius: 25px;
    color: white;
    width: 90px;
    height: 36px;
    margin-left: 10px;
    margin-right: 100px;
    transition: opacity 0.15s;
}

.btn-sign-up:hover,
.btn-sign-in:hover,
.btn-logout:hover {
    opacity: 0.8;
}

.btn-sign-up:active,
.btn-sign-in:active,
.btn-logout:active {
    opacity: 0.5;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.home-link > .iShariu-logo {
    width: 50px;
    height: 50px;
}

.iShariu-logo {
    margin-left: 3em !important;
}

.iShariu-logo:active {
    transform: translateY(1px); /* Сдвигаем элемент на 1 пиксель вниз при активации */
}

.home-link > .project-name {
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
}

.dropdown {
    transition: transform 0.3s ease-in-out;
}

.dropdown:hover {
    cursor: pointer;
    transform: scale(1.1);
}