* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
  width: 100%;
}

html {
  font-size: 14px;
}

@media {
  .container {
    flex-direction: row;
  }
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: grey;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.home-link > .iShariu-logo {
  width: 50px;
  height: 50px;
}

.home-link > .project-name {
  margin-left: 0;
  font-size: 20px;
  font-weight: bold;
}
.error-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.error-img > img {
  margin-right: 100px;
  margin-top: 100px;
  width: 35%;
  height: 35%;
}

.error-info {
  width: 50%;
  margin-left: 100px;
}

.error-info > h1 {
  font-size: 2em;
  color: #333;
}

.error-info > h2 {
  font-size: 1.5em;
  color: #666;
}

.error-info > p {
  font-size: 1em;
  color: #999;
}



