.nav-tabs .nav-link {
    color: black;
    font-weight: 500;
}

.nav-tabs .nav-link.active {
    color: red;
    font-weight: 500;
}

html, .profile-container, .container, .tab-content {
    height: 100%;
    width: 100%
}

html, body {
    height: auto;
    overflow: auto;
    width: 100%;
}

.profile-container {
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    height: calc(90vh - 2 * 1vh);
    overflow: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.profile-container .edit-profile-form {
    height: 100%;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.edit-profile-form {
    padding-top: 3em;
}

.profile-container .edit-profile-form .btn {
    margin-top: auto;
    align-self: flex-start;
    margin-bottom: 1em;
}

.tab-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.edit-profile-form label,
.edit-profile-form input,
.edit-profile-form select {
    margin-bottom: 20px; 
}

.edit-profile-form input,
.edit-profile-form select {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px; 
    width: 100%; 
    appearance: none; 
}

.edit-profile-form select {
    margin-bottom: 30px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px; 
    width: 100%; 
    appearance: none; 
}

#successToast {
    margin-bottom: 2em;
    position: fixed;
    right: 20px;
    bottom: 20px;
    animation: toast-in 0.5s, toast-out 0.5s 2.5s;
    animation-fill-mode: forwards;
}

@keyframes toast-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes toast-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.mfa-enabled {
    margin-top: 10px;
    color: #137c4f !important;
    font-weight: bold;
    text-transform: uppercase;
}

.mfa-disabled {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.authenticator-app {
    margin-top: 20px;
}

.authenticator-app h2 {
    color: #6d7786;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.authenticator-app p {
    font-size: 14px;
    color: #9196a2;
    margin-top: 1px;
}

button.dsbld {
    cursor: not-allowed !important;
    opacity: 0.6;
}

button.dsbld:hover {
    color: #999;
}

.sms-backup-authentication {
    margin-top: 20px;
}

.sms-backup-authentication h2 {
    color: #6d7786;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sms-backup-authentication p {
    font-size: 14px;
    color: #9196a2;
    margin-top: 1px;
}

.phone-number-container {
    display: flex;
    align-items: center;
    padding-bottom: 0.6em;
}

.settings-divider {
    margin-top: 20px;
    border-top: 2px solid #d5d9dd;
}

.form-check-input:checked {
    background-color: #d43543;
    border-color: #d43543;
}

.terms-and-privacy {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
}

.profile-container {
    position: relative;
}

.delete-account-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.3em;
    right: 0;
    margin-right: 2.5em;
    width: auto;
}

.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 1.3em;
}

.color-picker-container div {
    margin-right: 10px;
}

.color-picker {
    border: 1px solid #ddd;
    padding: 2px !important;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 30px !important;
    height: 30px !important;
    margin: 0 !important;
}

.color-picker:hover {
    border-color: #999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.color-picker:focus {
    border-color: #555;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}


